*{
  padding: 0;
  margin: 0;
  font-family: Roboto ;
  
}
/* this is navbar css */
nav{

  background-color: #333545;
  margin-bottom: 0.8rem;
  overflow: hidden;
  
}

nav .nave{
  width: 87%;
  margin: auto;
  padding-top: 0.9rem;

}
.top{
  width: 84%;
  margin:  auto;
  padding: 0.8rem 0;
  display: flex;
}
.top .top1{
  display: flex;
  
}
.top .top2{
  display: flex;
  align-items: center;
  margin-left: auto;

}

.nave1{
  display:flex;
  
}

.search{
  background-color: white;
  padding: 4.5px;
  height: 2.2rem;
  border-radius: 4px 0 0 4px;
  margin: auto;

}
 input[type=text]{
  width: 31vh;
 
 overflow: hidden;
  border: none;
  border-radius: 0 4px 4px 0;
  font-size: 13.9px;

}
.top2 span{
 font-size: 14px;
 color: white;
 font-family: Roboto;

}
 .btn1{
 font-size: 12px;

 color: white;
 background-color: #F84464;
 border-radius: 4px;
 height: 1.56rem;
 line-height: 1.56rem;
 width: 4.18rem;
 border: none;
 margin: 0 1.87rem;
}
.nave2{
  background-color: #1F2533;
  height: 2.3rem;
  
}
 .info{
 display: flex;
  width: 84%;
  height: 100%;
  margin: auto;
  font:14px Roboto;
  color: white;
  
}
.info .info1{
  display: flex;
  width: 70%;

  justify-content:flex-start;
  align-items: center;
  gap: 15px;
}
.info .info2{
  display: flex;
  height: 100%;
  width: 25%;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
}




/* this main card csss */
.main .card{
 
  height: 100%;
  width: 100%;
  margin-bottom: 1.5rem;
}
.main h2{
  font-size: 1.6rem;
}
.main{
  width: 83%;
  margin: auto;
  font-family: Roboto;
  
}

/* this is moviecards css */
.moviecards{
  /* width: 83%;
  margin: auto; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  margin-bottom: 4rem;
}
.movies{
  width: 83%;
  margin: auto;
}
.card1 h4{
  margin: 0.4rem 0 0 0;
  font-size: 23px;
}
.card1 span{
  font-family: 16px;
  color: #666666;
}
.card1 img{
  width: 13.06rem;
  height: 22.25rem;
  
}
.abc{
  width: 83%;
  margin: auto;
}
.abc img {
height: 100%;
width: 100%;
margin-bottom: 4rem;
}

.event{
  width: 83%;
  margin: auto ;
  margin-bottom: 4rem;
  

}
.event h2{
  font-size: 24px;
}
.event div{
  display:flex;
  justify-content:space-between ;
  flex-wrap: wrap;

}
.event div img{
  height: 13.15rem;
}
.premiere{
  width: 83%;
  margin: auto;
  color: white;
  
}
.premiere h4 , p{
  margin: 0;
}
.outevent{
  
  width: 84%;
  margin: auto;
}
footer{
  background-color: rgb(51, 51, 56);
  font-size: 12px;
    line-height: 1.1;
    font-weight: 400;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    margin: 0px 0px px;
   padding-top: 4rem;
   padding-bottom: 4rem;
    color: rgb(165, 165, 165);
}
footer p{
  margin-bottom: 1rem;
}
footer a{
  text-decoration: none;
  color: rgb(118, 113, 113);
  font-size: 10px;
  margin-right: 3px;
  text-transform: capitalize;
  
}
.foot {
  width: 84%;
  margin: auto;
}
footer a:hover{
  color: white;
}

